<body class="login" id="log"> 
  <%= provide(:title, "登录") %>
  
  <div class="login-group">
    <h1>Log in</h1>	 
    <div class="formbody">
      <%- #form_tag sessions_path do%>
      <%= form_tag signin_path do%>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email],class:"login-box"%>
      <%= label_tag :password, "密码"%>
      <%= password_field_tag :password , params[:password] , class:"login-box"%>

      <div class="login-rem">
       <%= label_tag :remember_me,params[:remember_me], class:"login-left" %>
       <div class="login-right"><%= check_box_tag :remember_me %></div>
      </div>
  	  <div class="login-bottom"> 
   	    <%= submit_tag "登录", class: "btn btn-defult btn-info" %>
      </div>
      <% end %>
      <p>第一次来？<%= link_to "新用户注册", signup_path %> </p>
    </div>
  </div>
</body>