<%= provide(:title, "登录") %>
<h1>登录</h1>

<%- #form_tag sessions_path do%>
<%= form_tag signin_path do%>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email]%>

  <%= label_tag :password, "密码"%>
  <%= password_field_tag :password %>

  <%= label_tag :remember_me %>
  <%= check_box_tag :remember_me %>

  <%= submit_tag "登录", class: "btn btn-large btn-primary" %>
<% end %>

<p>第一次来？<%= link_to "新用户注册", signup_path %> </p>

