<% provide(:title, "重置密码") %>
<h1>重置密码</h1>

<%= form_for @user, :url => new_password_path(params[:id]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>    
  <div class="field">
    <%= f.label :password, "新密码"%>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "密码确认"%>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "更新密码" %>
  </div>
<% end %>
