<body id="new-user">
  <% provide(:title, "注册") %>
  <div id="register">
	  <h1>注册</h1>
    <%= render 'shared/error_messages', :object => @user %>    
	  <%= form_for(@user) do |f| %>
	  <div class="new-user-contant">

        <div class="new-user-left">          
          <h2>创建您的账户</h2>
          <div class="new-user-group">
          	<div class="new-user-row">
              <%= f.label :email %>
		          <%= f.text_field :email,class:"new-user-block",style:"background: #FAFAFA none;"%>
          	</div>
            <div class="new-user-row">
              <%= f.label :name, "用户名" %>
		          <%= f.text_field :name ,class:"new-user-block",style:"background: #FAFAFA none;"%>		   
          	</div>
            <div class="new-user-row">
		          <%= f.label :password, "密码" %>
		          <%= f.password_field :password ,class:"new-user-block",style:"background: #FAFAFA none;"%>
            </div>
            <div class="new-user-row">
		          <%= f.label :password_confirmation, "密码确认" %>
		          <%= f.password_field :password_confirmation,class:"new-user-block",style:"background: #FAFAFA none;"%>
            </div>
            <div class="form-warning">
              <p>在注册之前请阅读相关规定</p>
            </div>  
            <div class="new-user-bottom">        
              <%= f.submit "注册", class: "btn btn-defult btn-info" %>
            </div>
          </div>
        </div>

        <div class="new-user-right">
          <h3>欢迎注册 我同济校园活动平台</h3>
          <h5>我们不会向第三方透露您的IP地址等个人信息，除非因法律原因</h5>
          <h5>我们保留随时修改或中断服务而不需通知用户的权利<h5>
          <h5>请不要发布违法侵权等不恰当的内容，我们会删除这些信息，甚至删除您的帐号</h5>
        </div>
    </div>
	 <% end %>
 </div>
</body>
