<%= provide(:title, @user.name) %>
<div class="row">
  <div class="span8">
    <h5>我感兴趣的活动：</h5>
    <%= render 'shared/activities_form' %>
  </div>
  <div class="span4">
    <div class="row">
      <p class="user_avatars float-left">
        <%= gravatar_for(@user, size: 150) %>
      </p>
      <p class="float-left">
        <h3><%= @user.name %></h3>
      </p>
      <% if current_user?(@user) %>
        <p class="float-left">
          <strong><%= link_to "我发布的活动 ( " + @user.activities.count.to_s + " )", "#" %></strong>
        </p>
        <p class="float-left">
          <strong><%= link_to "我感兴趣的活动 ( " + @user.interestactivities.count.to_s + " )", "#" %></strong>
        </p>
      <% else %>
        <p class="float-left">
          <strong><%= link_to "他发布的活动 ( " + @user.activities.count.to_s + " )", "#" %></strong>
        </p>
        <p class="float-left">
          <strong><%= link_to "他感兴趣的活动 ( " + @user.interestactivities.count.to_s + " )", "#" %></strong>
        </p>
      <% end %>
    </div>
  </div>
</div>
