<% provide(:title, "发布活动") %>

<h1>编辑活动</h1>

<div class="well-white-activity">
   
  <%= form_for @activity, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="space1-activities">
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :start_time %>
  <%= f.text_field :start_time %>

  <%= f.label :end_time %>
  <%= f.text_field :end_time %>

  <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]} %>
  
  <%= f.submit "发布", class: "dailin btn btn-default btn-primary" %>
  </div>
  
  <div class="space2-activities">
  <%= f.label :content %>
  <%- # f.text_area :content %>
  
  <%= f.file_field :image %>
  <%= f.text_area :content, :cols => 20, :rows => 14%>
  
 
  </div>

   <%= f.submit "发布", class: "dailin btn btn-default btn-primary" %>
  <% end %>
  

</div>


<script>
    $("#activity_start_time, #activity_end_time").datetimepicker({dateFormat: 'yy-mm-dd'});
</script>
