<% provide(:title, '全部活动') %>
<body class="show-body">
<div class="container">
  <div class="row" id="outer">
    <div class="span2">
      <div class="home-nagi">
        <div class="home-navigation">
          <ul>
            <li><h5>  活动时间  </h5></li>
            <li class="activities-time link-back-click" id="all">
              <%= link_to "全部活动", { controller: "activities", action: "all", selected: 'all' },
                { onclick: "highlightTime('all')", remote: true } %>
            </li>
            <li class="activities-time" id="upcoming">
              <%= link_to "未开始", { controller: "activities", action: "upcoming", selected: 'upcoming' },
                { onclick: "highlightTime('upcoming')", remote: true } %>
            </li>
            <li class="activities-time" id="active">
              <%= link_to "进行中", { controller: "activities", action: "active", selected: 'active' },
                { onclick: "highlightTime('active')", remote: true } %>
            </li>
            <li class="activities-time" id="past">
            <%= link_to "已结束", { controller: "activities", action: "past", selected: 'past' },
                { onclick: "highlightTime('past')", remote: true } %>
            </li>
          </ul>
        </div>

        <div class="home-navigation">
          <ul>
            <li><h5>  活动类型  </h5></li>
             <% @categories.each do |category| %>
            <li class="activities-category" id="<%= category.id %>">
                  <%= link_to category.name, { controller: "activities", action: "category", id: category.id },
                    { onclick: "highlightCategory(#{category.id})", remote: true } %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="span10">
      <div class="activities-content span7" id="acti-con">
        <div id="activities">
          <% unless @activities == nil %>
            <%= render 'shared/activities_form'  %>
          <% end %>
        </div>
      </div>
      <div class="home-right" id="home-right">
        <div class="span5">
          <div class="row">
            <%= form_tag "/search", method:"get", remote: true do %>
            <%= text_field_tag :q, params[:q], class: "input-medium search-query float-left home-male" %>
            <%= submit_tag "查找", class: "btn btn-info float-left", style: "margin-left: 14px" %>
            <% end %>
          </div>
          <div class="row" style="width: 330px">
            <h4 style="border-bottom: 1px solid black; display: block; margin-left: 20px; margin-top: 20px">
              新加入的同学:
            </h4>
            <% if @users.any? %>
              <div class="user-avatars" style="margin-left: 20px; width 330px">
                <% @users.each do |user| %>
                  <%= render partial: "shared/user_avatar", locals: {user: user} %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

