<% provide(:title, '全部活动') %>
<script type="text/javascript" language="javascript" src="bootstrap-modal.js"></script>
<script type="text/javascript" language="javascript" src="easytabs.js"></script>
<body class="show-body">
<div class="container">
<div class="row">
  <div class="span8">
    <div class="row">
      <div class="menu">
     
        <div class="row">
          <ul>
            <li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');"
              onclick="return false;"  title="" id="tablink1">  活动时间  </a></li>
            <li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');"
              onclick="return false;"  title="" id="tablink2">  
          </ul>
        </div>
   
        <div class="row" id="tabcontent1">
          <span class="controls">
            <%= link_to "全部活动", { controller: "activities", action: "all" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "未开始的活动", { controller: "activities", action: "unstart" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "正在进行的活动", { controller: "activities", action: "started" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "已结束的活动", { controller: "activities", action: "ended" }, remote: true %>
          </span>
        </div>
     
        <div class="row" id="tabcontent2">
          <% @categories.each do |category| %>
            <span class="controls">
              <%= link_to category.name, { controller: "activities", action: "category", id: category.id },
              remote: true %>
            </span>
          <% end %>
        </div>
    
      </div>
    </div>
    <div id="activities">
      <% unless @activities == nil %>
        <%= render 'shared/activities_form' %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <%= form_tag "/search", method:"get", remote: true do %>
        <%= text_field_tag :q, params[:q], class: "input-medium search-query float-left" %>
        <%= submit_tag "查找", class: "btn btn-info float-left", style: "margin-left: 14px" %>
      <% end %>
    </div>
    <hr/>
    <div class="row">
      <h4>新加入：</h4>
    </div>
  </div>
</div>
</div>


<!--

<div class="home-area">
  <div class="home-title" id="hometitle">
    <h1>
     "未开始的活动"
     <a href="/new">more</a>
    </h1>

  </div>


</div>

-->


</body>



