<% provide(:title, '全部活动') %>
<script type="text/javascript" language="javascript" src="bootstrap-modal.js"></script>
<script type="text/javascript" language="javascript" src="easytabs.js"></script>
<body>
<div class="container">
<div class="row">
  <div class="span8">
    <div class="row">
      <div class="menu">
        <!--Start of the Tabmenu1 -->
        <div class="row">
          <ul>
            <li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');"
              onclick="return false;"  title="" id="tablink1">  活动时间  </a></li>
            <li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');"
              onclick="return false;"  title="" id="tablink2">  活动类型  </a></li>
            <!--li><a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');"
              onclick="return false;"  title="" id="tablink3">Tab 3 </a></li>
            <li><a href="#" onmouseover="easytabs('1', '4');" onfocus="easytabs('1', '4');"
              onclick="return false;"  title="" id="tablink4">Tab 4 </a></li-->
          </ul>
        </div>
        <!--End of the Tabmenu1 -->

        <!--Start Tabcontent 1 -->
        <div class="row" id="tabcontent1">
          <span class="controls">
            <%= link_to "全部活动", { controller: "activities", action: "all" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "未开始的活动", { controller: "activities", action: "unstart" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "正在进行的活动", { controller: "activities", action: "started" }, remote: true %>
          </span>
          <span class="controls">
            <%= link_to "已结束的活动", { controller: "activities", action: "ended" }, remote: true %>
          </span>
        </div>
          <!--End Tabcontent 1-->
        
        <!--Start Tabcontent 2-->
        <div class="row" id="tabcontent2">
          <% @categories.each do |category| %>
            <span class="controls">
              <%= link_to category.name, { controller: "activities", action: "category", id: category.id },
              remote: true %>
            </span>
          <% end %>
        </div>
        <!--End Tabcontent 2 -->
        
        <!--Start Tabcontent 3-->
        <!--div id="tabcontent3"></div-->
        <!--End Tabcontent 3-->
        
        <!--Start Tabcontent 4-->
        <!--div id="tabcontent4"></div-->
        <!--End Tabcontent 4-->
      </div>
    </div>
    <div id="activities">
      <% unless @activities == nil %>
        <%= render 'shared/activities_form' %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <%= form_tag "/search", method:"get", remote: true do %>
        <%= text_field_tag :q, params[:q], class: "input-medium search-query float-left" %>
        <%= submit_tag "查找", class: "btn btn-info float-left", style: "margin-left: 14px" %>
      <% end %>
    </div>
    <hr/>
    <div class="row">
      <h4>新加入：</h4>
      <div id="modals">
        <div class="modal hide fade" id="myModal" style="display: none">
          <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>登陆对话框？</h3>
          </div>
          <div class="modal-body">
            <p>这个可以用来做登录对话框？</p>
            <p>可以用来做登录对话框？</p>
            <p>用来做登录对话框？</p>
            <p>来做登录对话框？</p>
            <p>做登录对话框？</p>
            <p>登录对话框？</p>
            <p>对话框？</p>
            <p>话框？</p>
            <p>框？</p>
            <p>？</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">关闭</a>
            <a href="#" class="btn btn-primary">保存更新</a>
          </div>
        </div>
      </div>
    </div>
      <a class="btn btn-primary" data-toggle="modal" href="#myModal">点我点我快点我！</a>
    </div>
  </div>
</div>
</div>
</body>
