<% provide(:title, @activity.title) %>
<div class="row">
  <div class="span8">
    <h2><%= @activity.title %></h2>
    <%= render 'interest_form' if signed_in? %>
    <ul>
      <li>
        <b>开始时间:</b>
        <%= @activity.start_time %>
      </li>
      <li>
        <b>结束时间:</b>
        <%= @activity.end_time %>
      </li>
      <li>
        <b>发布者:</b>
        <%= @activity.user.name %>
      </li>
      <li>
        <b>活动内容:</b>
          <div class="activity-content">
          <%= @activity.content %>
          </div>
      </li>
    </ul>
    <h3>评论</h3>
    <% @activity.comments.each do |comment| %>
      <div class="comment">
        <div class="avatar"><%= gravatar_for comment.user%> </div>
        <div class="comment-content">
          <div class="content"><%= comment.content %></div>
          <%= link_to comment.user.name, comment.user %>
          发表于
          <span class="timestamp">
            <%= comment.created_at.in_time_zone.to_s(:cn) %>
          </span>
        </div>
      </div>
    <% end %>
    </ul>
    <%= form_for :comment, :url => activity_comments_path(@activity) do |f| %>
      <div class="field">
        <%= f.hidden_field :activity_id, :value => @activity.id %>
        <%= f.text_area :content, :cols => 65, :rows => 4, :placeholder => "说点什么吧..." %>
      </div>
      <%= f.submit "评论", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span4">
    <p>感兴趣的人:</p>
  </div>
</div>
