<% provide(:title, '正在进行的活动') %>

<div class="row">
	<div class="span9">
    <div class="row">
      <span class="controls">
        <%= link_to "全部活动", { controller: "activities", action: "all" } %>
      </span>
      <span class="controls">
        <%= link_to "未开始的活动", { controller: "activities", action: "unstart" } %>
      </span>
      <span class="controls">
        <%= link_to "正在进行的活动", { controller: "activities", action: "started" }%>
      </span>
      <span class="controls">
        <%= link_to "已结束的活动", { controller: "activities", action: "ended" }%>
      </span>
    </div>
    <div id="activities-2">
      <%= render 'shared/activities_form' %>
    </div>
	</div>
	<div class="span3">
    <h4>新加入：</h4>
	</div>
</div>
